.login-signup-container {
    background-color: #9D7D48;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow:hidden;
    min-width: 100%;
}

.login-signup-box {
    position: relative;
    background-color: #E8EEEC;
    width: 70vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 3rem;
}

.welcome-text {
    background: transparent;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

.submit-button {
    background-color: var(--dark-green);
    width: 11vw;
    height: 7vh;
    border-radius: 10px;
    border: transparent;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in-out;
    color: var(--white);
    font-size: 1.3rem;
    cursor: pointer;
}

.submit-button:hover {
    transform: scale(1.1);
    background-color: var(--light-green);
}

.submit-button:active {
    transform: scale(0.9);
    transform: translateY(2px);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.to-login-arrow {
    left: 35px;
    right: auto;
    color: var(--dark-green);
    font-size: 2rem;
}

.to-signup-arrow {
    left: auto;
    right: 35px;
    color: var(--dark-green);
    font-size: 2rem;
}

.login-signup-arrow {
    position: absolute;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.login-signup-arrow:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
    color: var(--light-green);
}