:root {
    --black: #1D1D1D;
    --light-green: #5CDCA0;
    --dark-green: #5FA785;
    --red: #B95858;
    --white: #E8EEEC; 
}

.collection_page {
    background-color: var(--black);
    height: 100vh;
    width: 100%;
}

.collection_page_outer_container {
    position:relative;
    top: 10vh;
    display: flex;
    flex-direction: row;
    /* flex-basis: 0; */
    flex: 1 1 0;
    column-gap: 5%;
    padding: 0rem 5rem;
    height: 80%;
    align-items: end;
    justify-content: center;
}
.collection_page_left_container {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    /* border: 1px solid var(--light-green); */
}

.collection_page_right_container {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    height: 85%;
    /* border: 1px solid var(--light-green); */
}

.collection_page_select_category_header {
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 0rem;
}

.collection_page_select_container {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: 100%;
}

.collection_page_select_arrow {
    color: var(--light-green);
    transition: 0.3s;
    font-size: 2rem;
}

.collection_page_select_arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.collection_page_select_arrow.right {
    justify-self: right;
    text-align: right;
}

.collection_page_select_text {
    color: var(--white);
    text-align: center;
    flex-basis: 90%;
}

.gatcha button {
    background-color: var(--white);
    width: 5rem;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.gatcha button:hover {
    background-color: var(--light-green);
    transform: scale(1.1);
}

.gatcha img {
    width: 75%;
    aspect-ratio: 1/1;
}