.flashcard-container {
    width: calc(100% - 2rem);
    height: 10rem;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    padding: 1rem;

}

.question, .answer {
    font-size: 1.3rem;
}

.question {
    width: 100%;
}

.divider {
    height: 100%;
    width: 5px;
    border-radius: 10px;
    background-color: var(--light-green);
}

.answer {
    width: 100%;
    padding-left: 1rem ;
}