.quiz-card-container {
    width: 50%;
    background-color: var(--white);
    height: 5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-stuff {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-text {
    font-size: 1.5rem;
}

.options-for-quiz-card {
    display: flex;
    gap: 1rem;
}


.play-button,
.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    aspect-ratio: 1/1;
    border: none;
    background-color: var(--dark-green);
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.play-button:hover {
    background-color: var(--light-green);
}

.play-button img,
.edit-button img {
    height: 50%;
    aspect-ratio: 1/1;
}

.edit-button {
    background-color: var(--yellow);
}

.edit-button:hover {
    background-color: var(--light-yellow);
}

@media only screen and (max-width: 768px) {
    .quiz-card-container {
        width: 60%;
    }

    .quiz-text {
        font-size: 1rem;
    }

    .quiz-stuff button {
        opacity: 0;
        visibility: hidden;
    }
}



