.friends-container {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    align-items: end;
    justify-content: center;
}

.amigos {
    width: 90%;
    height: 85vh;
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.left-side-amigos {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title-for-friends {
    height: 10vh;
}

.title-for-friends h1 {
    color: var(--white);
    font-size: 3.5rem;
}

.scroll-for-more-friends {
    max-height: calc(85vh - 10vh);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10%;
    flex-grow: 1;
    padding: 1rem 8px 1rem 0;
    gap: 2.5rem;
}

.scroll-for-more-friends::-webkit-scrollbar {
    width: 8px;
}

.scroll-for-more-friends::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 5px;
}

.right-side-amigos-for-mobile {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.podium-plus-info-for-mobile {
    display: flex;
    align-items: center;
}

.right-side-amigos {
    width: 50%;
    height: 100%;
    display: flex;
}

.podium-plus-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.podium-centerer-friends {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.info {
    width: calc(100% - 2rem);
    height: 10rem;
    background-color: var(--white);
    border-radius: 20px;
    padding: 1rem;
}

.add-a-friend-button {
    background-color: var(--white);
    width: 4rem;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.add-a-friend-button:hover {
    background-color: var(--light-green);
    transform: scale(1.1);
}

.add-a-friend-button:active {
    transform: scale(0.9);
    transform: translateY(2px);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.add-a-friend-button img {
    width: 50%;
    aspect-ratio: 1/1;
}

@media only screen and (max-width: 1000px) {
    .right-side-amigos {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        height: 10%;
    }

    .right-side-amigos-for-mobile {
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    .left-side-amigos {
        width: 90%;
    } 

    .title-for-friends h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .podium-plus-info-for-mobile {
        flex-direction: column;
        gap: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .info h1 {
        font-size: 1.5rem;
    }

    .info p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-height: 800px) {
    .podium-centerer-friends {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 768px) and (max-height: 800px) {
    .right-side-amigos-for-mobile {
        height: 50%;
    }

    .podium-plus-info-for-mobile {
        height: 120%;
        flex-direction: row;
    }
}

@media only screen and (max-width: 400px) and (max-height: 800px) {
    .podium-plus-info-for-mobile {
        transform: scale(0.8);
        flex-direction: column;
    }
}