

.home-todo-list {
    order: 1;
}
.home-podium {
    order: 2;
}
.home-friends-active {
    order: 3;
}

.home-cards-container {
    margin: 0;
    height: 100vh;
    /* background-color: var(--black); */
    background-image: url("../../assets/Backgrounds/backgroundFight.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: space-around;
    gap: 10%;
    align-items: center;
}

.profile-button-to-access-settings {
    position: absolute;
    height: 7%;
    aspect-ratio: 1/1;
    right: 30px;
    top: 30px;
}

.profile-button {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
}

.profile-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.profile-button-to-access-settings img {
    position: absolute;
    height: calc(100% - 4px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--black);
}

@media only screen and (max-width: 1200px) {
    .home-cards-container {
        flex-direction: column; 
        align-items: center;
        gap: 2rem;
    }
    .home-todo-list {
        order: 2 !important;
    }
    .home-podium {
        order: -1 !important;
    }
    .home-friends-active {
        order: 3 !important;
    }
}
