:root {
    --black: #1D1D1D;
    --light-green: #5CDCA0;
    --dark-green: #5FA785;
    --red: #B95858;
    --white: #E8EEEC; 
}

.results-container {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.results-title {
    /* border: 2px var(--dark-green) solid; */
    height: 15%;
}

.results-title h1 {
    color: var(--white);
    font-size: 3.5rem;
    margin-top: 20px;
}


.show-results {
    /* border: 2px var(--dark-green) solid; */
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-for-cards-and-character {
    /* border: 2px var(--dark-green) solid; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.container-for-podium-results-page {
    /* border: 2px var(--dark-green) solid; */
    display: flex;
    width: 45%;
    justify-content: center;
    margin-bottom: 10%;
}

.container-for-result-card {
    height: 80%;
    width: 55%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.from-results-to-home {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--dark-green);
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    border: transparent;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in-out;
    color: var(--white);
    font-size: 1rem;
}

.from-results-to-home:hover {
    transform: scale(1.1);
}

.from-results-to-home:active {
    transform: scale(0.9);
    transform: translateY(2px);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}