.leaderboard-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url("../../../assets/Backgrounds/backgroundFriendsLeaderBoard.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(90%);
}

.full-leaderboard {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.title-leaderboard {
    color: #ffff;
    font-size: 3.5rem;
}

.player-score-list {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 3rem;
    max-height: 90%;
    overflow-y: auto;
    margin-bottom: 1rem;
    padding-right: 10px;
}

@media only screen and (max-width: 1000px) {
    .full-leaderboard {
        width: 90%;
        height: 90%;
        gap: 1rem; 
    }

    .title-leaderboard {
        font-size: 2.5rem;
    }

    .player-score-list {
        width: 100%;
        gap: 1rem;
    }

    .player-score-list {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .player-score-list {
        gap: 1.7rem;
    }
}
