.quiz-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url("../../../assets/Backgrounds/backgroundCollectionQuizzes.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.all-the-quizzes {
    /* border: 1px solid var(--light-green); */
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-left: 5%;
}

.title-quizzes {
    color: var(--white);
    font-size: 3.5rem;
}

.quizlist-indent {
    display: flex;
    justify-content: center;
}

.quizlist {
    /* border: 1px solid var(--light-green); */
    position: relative;
    width: 99%;
    max-height: 73vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    padding-right: 5px;
}

.quizlist::-webkit-scrollbar {
    width: 8px;
}

.quizlist::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 5px;
}

.container-for-quiz-card {
    /* border: 1px solid var(--light-green); */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.quiz-progress-titles {
    font-size: 2.5rem;
}

.todo-quizzes {
    color: var(--red);
}

.in-progress-quizzes {
    color: var(--yellow);
}

.finished-quizzes {
    color: var(--dark-green);
}

.quizCards {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    flex-grow: 1;
    gap: 1.5rem;   
}

.create-quiz button {
    background-color: var(--white);
    width: 4rem;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.create-quiz button:hover {
    background-color: var(--light-green);
    transform: scale(1.1);
}

.create-quiz button:active {
    transform: scale(0.9);
    transform: translateY(2px);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.create-quiz img {
    width: 50%;
    aspect-ratio: 1/1;
}

@media only screen and (max-width: 768px) {
    .title-quizzes {
        font-size: 2.5rem;
    }  

    .quiz-progress-titles {
        font-size: 2rem;
    }
}