.notifications-container {
    width: max(500px, calc(30% - 2rem));
    height: calc(85dvh - 2rem);
    max-height: calc(85dvh - 3rem);
    overflow-y: scroll;
    background-color: var(--black);
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

@media only screen and (max-width: 1200px) {
    .notifications-container {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .notifications-container {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .notifications-container {
        width: 75%;
    }
}