.one-friend {
    height: 5rem;
    display: grid;
    grid-template-columns: 70px minmax(150px,2.3fr);
    align-content: center;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.profilepic img {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.name {
    display: flex;
    align-items: center;
    height: 100%;
}

.name h1 {
    font-size: 1.5rem;
    color: #fff;
}

.black-writing h1 {
    color: var(--black) !important;
    height: 100% !important; /* idk why we need this but it somehow aligns it on the home page and keeps it aligned on the friends page */
}
