.find-a-friend-overlay {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.nvm {
	position: absolute;
	width: 4rem;
	aspect-ratio: 1/1;
	left: 40px;
	top: 35px;
	border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.nvm:hover {
    background-color: var(--light-green);
    transform: scale(1.1);
}

.find-a-friend-container {
    height: 20vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.find-a-friend-title h1 {
    font-size: 2.5rem;
    color: var(--white);
}

.type-in-username {
    height: 5vh;
    width: 100%;
    display: flex;
}

.type-in-username input {
    width: 100%;
	background: none;
	border: none;
    /* background-color: var(--white); */
	color: var(--white);
	font-size: 1.5rem;
	border-bottom: 2px solid var(--white);
	transition: border-bottom 0.2s ease-in-out;
    outline: none;
}

.type-in-username input:focus {
    border-bottom: 2px solid var(--light-green);
	outline: none;
}

.type-in-username button {
    height: 5vh;
	aspect-ratio: 1.5/1;
	left: 40px;
	top: 35px;
	border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.type-in-username button:hover {
    background-color: var(--light-green);
    transform: scale(1.1);
}

.type-in-username button img {
    height: 50%;
    aspect-ratio: 1/1;
}



