.how-to-play-title-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.how-to-actually {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.words-how-to {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.words-how-to h1 {
    font-size: 4rem;
    border-bottom: 20px solid var(--black);
}

.words-how-to p {
    font-size: 1.2rem;
}

.how-to-actually img {
    width: 40%;
}

@media (max-width: 1200px) {
    .words-how-to h1 {
        font-size: 2.5rem;
        border-bottom: 15px solid var(--black);
    }

    .words-how-to p {
        font-size: 0.8rem;
    }

    .how-to-actually img {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .words-how-to h1 {
        font-size: 1.5rem;
        border-bottom: 10px solid var(--black);
    }

    .words-how-to p {
        font-size: 0.6rem;
    }

    .how-to-actually img {
        width: 40%;
    }
}

@media (max-width: 420px) {
    .how-to-actually {
        width: 90%;
        height: 60vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
        gap: 2rem;
    }

    .how-to-actually img {
        width: 90vw !important;
        height: auto;
        object-fit: contain;
    }
}
