:root {
    --black: #1D1D1D;
    --light-green: #5CDCA0;
    --dark-green: #5FA785;
    --red: #B95858;
    --white: #E8EEEC; 
}

.navbar-container {
    position: fixed;
    display: flex;
    width: 50%;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-container a {
    text-decoration: none;
}

.navbar-container h1 {
    color: var(--white);
    margin-bottom: 5px;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1750px) {
    .navbar-container h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1450px) {
    .navbar-container h1 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1100px) {
    .navbar-container h1 {
        font-size: 1rem;
    }
}

.selector {
    position: relative;
    width: 0;
    height: 3px;
    background-color: var(--white);
    transform: translateX(-50%);
    left: 50%;
    transition: width 0.2s ease-in-out
}   

.highlight:hover .selector {
    width: 100%;
}

.highlight:not(:hover) .selector {
    width: 0%;
}
