.todolist-container {
    width: 20vw;
    height: 60vh;
    background-color: var(--white);
}

@media only screen and (max-width: 1200px) {
    .todolist-container {
        width: 40vw;
        height: 60vh;
        background-color: var(--white);
    }
}

.todolist-container h1 {
    font-size: 2rem;
    color: var(--black);
    background-color: transparent;
    margin: 10px 0 0 15px;
}